
  
  body {

    background-image:url(/Projeto/xbox.jpg);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: transparent;
    color: rgb(255, 255, 255);
    background-size: 50%;
              
  } 

  
  
  a.btn {
    display: block;
    margin-bottom: 20px;
  }
  
  .container {
    max-width: 800px;
  }
  
  .intro-header {
    margin-top: 4em;
    text-align: center;
  }
  
  .row {
    margin-bottom: 2em;
  }
  
  .banner {
    text-align: center;
  }
  
  